<!-- Sections -> ambassadors -->
<div class="ambassadors page-width">
  <p class="heading">{{ section.settings.main_txt }}</p>
  <h2 class="sub-heading">{{ section.settings.sub_txt }}</h2>

  <div class="ambassadors-gallery">
    {% for block in section.blocks %}
      <div class="both-img">
        <div class="first-img">
          {% if block.settings.first_img != blank %}
            <img src="{{ block.settings.first_img | img_url: 'master' }}" alt="First Image" />
          {% endif %}
        </div>
        <div class="second-img">
          {% if block.settings.second_img != blank %}
            <img src="{{ block.settings.second_img | img_url: 'master' }}" alt="Second Image" />
          {% endif %}
        </div>
        <div class="details">
          <h3>{{ block.settings.name }}</h3>
          <p>{{ block.settings.profile }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Ambassadors",
    "settings": [
      {
        "type": "text",
        "id": "main_txt",
        "label": "Heading"
      }, {
        "type": "text",
        "id": "sub_txt",
        "label": "Sub-Heading"
      }
    ],
    "blocks": [
      {
        "name": "Ambassadors Gallery",
        "type": "gallery",
        "settings": [
          {
            "type": "image_picker",
            "id": "first_img",
            "label": "First Image"
          }, {
            "type": "image_picker",
            "id": "second_img",
            "label": "Second Image"
          }, {
            "type": "text",
            "id": "name",
            "label": "Name"
          }, {
            "type": "text",
            "id": "profile",
            "label": "Profile"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Ambassadors Section"
      }
    ]
  }
{% endschema %}

<style>
  .ambassadors .heading,
  .ambassadors .sub-heading {
    text-align: center;
    font-weight: bold;
    color: #0000009e;
    margin: 0;
    line-height: 1.2;
  }
  .ambassadors-gallery {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 10px;
  }
  .both-img {
    display: flex;
    justify-content: center;
    position: relative;
    width:30%;
  }
  .both-img .first-img img {
    width: 100%
  }
  .both-img .second-img {
    display: none;
  }
  .details {
    position: absolute;
    bottom: 7px;
    z-index: 1;
    width: 100%;
    background: #000;
    opacity: 0.5;
    color: #fff;
    line-height: 1.2;
    padding: 5px 10px;
  }
</style>

<script>
  var imgbtn = document.querySelectorAll(".both-img");

// var ft_img = document.querySelectorAll('.first-img');
  imgbtn.forEach((btn1) => {
    var i = 0;
    btn1.addEventListener('mouseover', () => {
      btn1.querySelector('.first-img').style.display = "none";
      btn1.querySelector('.second-img').style.display = "block";
    });
  });

  imgbtn.forEach((btn2) => {
    var i = 0;
    btn2.addEventListener('mouseout', () => {
      btn2.querySelector('.first-img').style.display = "block";
      btn2.querySelector('.second-img').style.display = "none";
    });
  });
</script>